<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <appSettings>
        <add key="accountEndpoint" value="https://carissa-learning-4.documents.azure.com:443/" />
        <add key="accountKey" value="wnodLM3fesp2ak3ZZLcVJdiMFN3ZpvvXjKD1NzocD4dsGQogTydcvKZQP4tNYBGuZARdok1YY70ZTaFa515UmA==" />
      </appSettings>
</configuration>